* {
  box-sizing: border-box;
  direction: rtl;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  font-family: sans-serif;
}

.displayNone {
  display: none !important;
}

.displayBlock {
  display: block !important;
}

.backgroundWhite {
  background: white;
}

body {
  margin: 0;
}

.background-light {
  background: #edf1f7;
}

.background-dark {
  background: #49667a !important;
}

.text-color-light {
  color: #222b45;
}

.text-color-dark {
  color: #fff;
}

.light-circle-color {
  color: white;
  background: #222b45;
}

.dark-circle-color {
  background: white;
  color: #222b45;
}

.light-color-theme__box-color {
  background: white;
}

.dark-color-theme__box-color {
  background: #384f5f;
}

.theme-button__light-color {
  background: #39475d;
}

.theme-button__dark-color {
  background: #d8d8d8;
}

.tooltip {
  position: absolute;
  font-size: 0.8rem;
  border-radius: 5px;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.1607843137);
  display: inline-block;
  z-index: 100;
  padding: 0.6rem;
  max-width: 12rem;
  white-space: pre-line;
  line-height: 1.25rem;
  border: 1px solid #b3b3b5;
}

.topmost-h2 {
  padding-top: 0px;
  border-top: none;
  margin-top: 0;
}

h2 {
  padding-top: 15px;
  margin-right: 11.2px;
  width: 100%;
  font-size: 19px;
  border-top: 1px solid rgba(161, 170, 177, 0.4);
}

.button-light-color {
  background: #e6f1f4;
}

.button-dark-color {
  background: #2a3b47;
}

.flip-triangle {
  transform: scaleY(-1);
}

.percentage-bar-background-light {
  background: #eff5f9;
}

.percentage-bar-first-dose-light {
  background: #3b7d7e;
}

.percentage-bar-second-dose-light {
  background: #b6ca51;
}

.percentage-bar-third-dose-light {
  background: #66cbfd;
}

.percentage-bar-background-dark {
  background: #293b48;
}

.percentage-bar-first-dose-dark {
  background: #9ffa82;
}

.percentage-bar-second-dose-dark {
  background: #fd8264;
}

.percentage-bar-third-dose-dark {
  background: #2cd2db;
}

.vaccination-table-first-score {
  background: #ee9d8e;
}

.vaccination-table-second-score {
  background: #f2c580;
}

.vaccination-table-third-score {
  background: #fcfc70;
}

.vaccination-table-fourth-score {
  background: #b8de92;
}

.border-bottom-light {
  border-bottom: 1px solid #daeaed;
}

.border-bottom-dark {
  border-bottom: 1px solid #fff;
}

.search-result-hover-light li:hover {
  background: #e6f1f4;
}

.search-result-hover-dark li:hover {
  background: #2a3b47;
}

.ramzor-header .ramzor-highlighted-light {
  background: #daeaed;
}

.ramzor-header .ramzor-highlighted-dark {
  background: #354047;
}

.section-container, .ramzor {
  margin: 11.2px;
  width: 100%;
}

.section-container__table-container, .ramzor-table-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  margin: 11.2px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.section-container__table-container .card-h3-container, .ramzor-table-container .card-h3-container {
  margin-bottom: 8px;
  padding-right: 1rem;
  padding-top: 1rem;
}
.section-container__table-container .tooltip, .ramzor-table-container .tooltip {
  top: 2.5rem;
}

.ramzor-italic-text-light {
  color: #757575;
}

.ramzor-italic-text-dark {
  color: #cacaca;
}

.ramzor-table-highlighed-light {
  background: #f7fafc;
  border: none;
  height: 100%;
}

.ramzor-table-highlighed-dark {
  background: #304453;
  border: none;
  height: 100%;
}

.search-results, .ramzor-search-results {
  list-style: none;
  padding: 0;
  border: none;
  z-index: 200;
}
.search-results li, .ramzor-search-results li {
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
}

.header {
  position: fixed;
  color: #39475d;
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  box-shadow: 0px 14px 12px 0px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.header .seperator {
  display: none;
}
.header .header__logo {
  color: #39475d;
  padding: 15px 32px 15px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.header .header__logo .h1-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.header .header__logo .burger-and-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.header .header__logo .burger-and-logo .burger-button {
  justify-content: space-evenly;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 30px;
  height: 25px;
}
.header .header__logo .burger-and-logo .burger-button .rect {
  background: #374f60;
  height: 2.4px;
  width: 22.5px;
  border-radius: 10px;
}
.header .header__logo .header__logo-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.header .header__logo .header__logo-title h1 {
  padding-left: 20px;
  font-size: 1.01rem;
  font-weight: 700;
  margin-bottom: 0;
}
.header .header__logo .header__logo-title span {
  padding: 0;
  font-size: 12px;
  font-weight: 700;
}
.header .header__logo .theme-button {
  position: absolute;
  left: 0;
  display: flex;
  margin-right: auto;
  border-radius: 0 30px 30px 0;
  padding: 0 6px;
  align-items: center;
  height: 44px;
  width: 53px;
}
.header .header__logo .logo__img {
  padding: 0 20px 0 40px;
}
.header .header__logo .logo__img img {
  height: 47px;
}
@media (min-width: 650px) {
  .header .header__logo .header__logo-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .header .header__logo .header__logo-title span {
    padding-right: 20px;
  }
  .header .header__logo .header__logo-title h1 {
    margin: 0 auto;
  }
  .header .header__logo .seperator {
    display: block;
  }
}
@media (min-width: 980px) {
  .header .header__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header .header__logo .header__logo-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}
.header .header-scrollbar {
  background: #374f60;
  height: 57px;
  /*placeholder*/
  width: 100%;
}

.ramzor-header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 1rem 24px;
}

.ramzor-header-search-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ramzor-header-container__date-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px;
  align-items: center;
  border-radius: 3px;
}
@media (min-width: 650px) {
  .ramzor-header-container__date-container {
    min-width: 200px;
  }
}
.ramzor-header-container__date-container .circle {
  margin-left: 3px;
}

@media (min-width: 1200px) {
  .ramzor-table-container {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
}
.ramzor-table-container .card-h3-container {
  padding: 0px;
  margin: 0px;
}
.ramzor-table-container .card-h3-container h3 {
  margin: 0px;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 650px) {
  .search-container button {
    font-size: 12px;
    max-width: 170px;
    min-width: 150px;
    margin-right: 6px;
  }
}
@media (min-width: 650px) and (min-width: 760px) {
  .search-container button {
    min-width: 170px;
  }
}
.search-container input {
  border: none;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 6px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
}

.ramzor-legend {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
}

.ramzor-score-legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 3px;
}
@media (min-width: 650px) {
  .ramzor-score-legend {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.score-legend-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15px;
}

.legend-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 4px;
  font-size: 14px;
}

.legend-italic {
  font-style: italic;
}

.square {
  height: 26px;
  width: 26px;
  padding: 5px;
  margin: 5px;
}
@media (min-width: 650px) {
  .square {
    height: 32px;
    width: 32px;
  }
}

.ramzor-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1rem;
  min-height: 36px;
  flex-grow: 1;
  flex-basis: 30px;
  padding-right: 10px;
}
.ramzor-header button {
  text-align: center;
}

.ramzor-table-rows .vaccination-row {
  height: 31px;
}
.ramzor-table-rows span {
  direction: ltr;
}
.ramzor-table-rows .score {
  text-decoration: underline;
}

.ramzor-search-results {
  position: absolute;
  border: 1px solid rgba(161, 170, 177, 0.4);
  width: 132px;
  font-weight: bold;
  top: 2rem;
  right: 1.5rem;
}

.search-button {
  position: relative;
  font-family: sans-serif;
  border: none;
  text-align: right;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.search-button:focus {
  outline: 2px solid black;
}

.arrow-icon-rotated {
  animation: rotation 0.5s forwards;
}

.arrow-icon-unrotated {
  animation: counter-rotation 0.5s forwards;
}

.button-container {
  width: 100%;
  position: relative;
}

.search-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid rgba(161, 170, 177, 0.4);
  border-radius: 20px;
  align-items: center;
}
@media (min-width: 650px) {
  .search-button {
    min-width: 200px;
  }
}

.search-button__text {
  padding: 0.35rem;
  width: 85%;
}

.dots-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 1.5rem;
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-bottom: 2px;
}

.searchbox-container {
  top: 5.2rem;
  background: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid rgba(161, 170, 177, 0.4);
  right: 1rem;
  z-index: 200;
}

.searchbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
  min-width: 200px;
  border: 1px solid rgba(161, 170, 177, 0.4);
}
.searchbox .searchbox-top {
  border-radius: 5px;
  padding: 1px;
}
.searchbox input {
  width: 100%;
  border: 1px solid rgba(161, 170, 177, 0.4);
  font-size: 1rem;
}
.searchbox .input-light-theme input {
  background: white;
  margin: 0;
  padding: 0;
  text-indent: 1rem;
  height: 2rem;
  border: 2px solid rgba(161, 170, 177, 0.4);
  border-radius: 5px;
  color: #222b45;
}
.searchbox .input-dark-theme input {
  background: #384f5f;
  text-indent: 1rem;
  margin-top: 2px;
  height: 2rem;
  border: 2px solid rgba(161, 170, 177, 0.4);
  border-radius: 5px;
  color: white;
}
.searchbox .input-dark-theme input::placeholder {
  color: #fff;
}

.search-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.search-buttons button {
  font-size: 1rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  border: none;
  width: 50%;
}
.search-buttons button:focus {
  outline: 1px solid black;
  border-left: 1px solid black;
}

.svg-arrow-color-light {
  color: #308bf6;
  padding-right: 5px;
}

.vaccination-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  min-height: 36px;
  flex-grow: 1;
  flex-basis: 30px;
}
.vaccination-header button {
  text-align: center;
}

.vaccination-header__category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: none;
  background: none;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 16%;
}
.vaccination-header__category-container:focus {
  border: 2px solid black;
  border-radius: 5px;
}

.table-container {
  direction: ltr;
  overflow: auto;
  width: 100%;
}

.vaccination-table-rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-height: 200px;
}

.vaccination-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 49px;
  align-items: center;
  font-size: 14px;
  width: 100%;
}

.row-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 16%;
}

.sname, .sname-row {
  padding-right: 1rem;
  justify-content: right;
  width: 20%;
}

.sname-row {
  padding-right: 2px;
  font-weight: 700;
}

.score {
  justify-content: center;
}

.percentage-bar {
  width: 25%;
  height: 10px;
}

.percentage-bar-filled {
  height: 10px;
}

.colored-sq {
  padding: 3px;
  text-align: center;
  font-weight: 700;
  width: 28px;
  height: 24px;
  color: #222b45;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes counter-rotation {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.circle {
  margin-top: 2px;
  padding: 2px;
  font-size: 11px;
  text-align: center;
  width: 16.67px;
  height: 16.67px;
  border-radius: 50%;
}

.card-h3-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.card-h3-container h3 {
  font-size: 0.9rem;
  margin: 0 0 8px 0;
  padding-left: 10px;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 196px 5px 10px;
  width: 100%;
}
@media (min-width: 650px) {
  .content-container {
    padding: 167px 5px 10px;
  }
}
@media (min-width: 980px) {
  .content-container {
    padding: 148px 5px 10px;
  }
}
.content-container .top-cards-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.content-container .top-cards-flex .top-card-container {
  flex: 1;
  min-width: 45%;
  margin: 0.3rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 3px 6px 14px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 760px) {
  .content-container .top-cards-flex .top-card-container {
    min-width: 10vw;
    margin: 0.7rem;
  }
}
.content-container .top-cards-flex .top-card-container .active-patients {
  font-size: 14.4px;
  margin-top: 10px;
}
.content-container .top-cards-flex .top-card-container .card-info {
  font-size: 12px;
}
.content-container .top-cards-flex .top-card-container .card-info h4 {
  display: inline-block;
  font-size: 12px;
}
.content-container .top-cards-flex .top-card-container .colored-circle {
  font-weight: 700;
  margin-left: 5px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
.content-container .top-cards-flex .top-card-container .bullet-list {
  font-size: 12.8px;
}
.content-container .top-cards-flex .top-card-container .bullet-list .list-line:nth-of-type(1) .colored-circle {
  background: #e21d48;
}
.content-container .top-cards-flex .top-card-container .bullet-list .list-line:nth-of-type(2) .colored-circle {
  background: #e21d48;
}
.content-container .top-cards-flex .top-card-container .bullet-list .list-line:nth-of-type(3) {
  padding-bottom: 10px;
}
.content-container .top-cards-flex .top-card-container .bullet-list .list-line:nth-of-type(3) .colored-circle {
  background: #e6b957;
}
.content-container .top-cards-flex .top-card-container .second-card-info {
  font-size: 12.8px;
}
.content-container .top-cards-flex .top-card-container span {
  padding-left: 8px;
  font-size: 12.8px;
}
.content-container .top-cards-flex h4 {
  font-size: 22.4px;
  margin: 0 0 5px 0;
}
.content-container .top-cards-flex .vaccinated h4 {
  margin-top: 5px;
  display: inline-block;
  font-size: 17.6px;
  margin-bottom: 3px;
}
.content-container .top-cards-flex .tests-statistics {
  font-size: 12px;
}
.content-container .top-cards-flex .tests-statistics h4 {
  padding-left: 8px;
}
.content-container .top-cards-flex .tests-statistics div {
  padding-bottom: 8px;
}
.content-container .top-cards-flex .isolated div:nth-child(3) {
  padding-top: 2rem;
}
.content-container .top-cards-flex-container {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  padding-bottom: 0.5rem;
  margin: 11.2px;
}
.content-container .top-cards-flex-container h3 {
  margin-right: 19.2px;
}
.content-container .top-cards-flex-container .top-cards-flex {
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.content-container .top-cards-flex-container .top-card-container {
  box-shadow: 0 3px 15px -2px rgba(0, 2, 2, 0.2);
}
.content-container .top-cards-flex-container .top-card-container h3 {
  margin-right: 0;
}
.content-container .top-cards-flex-container .top-card-container h4 {
  font-size: 22.4px;
  margin-bottom: 1rem;
}
.content-container .top-cards-flex-container .tested div:nth-child(3) {
  padding-bottom: 10px;
}

.main-metrics, .abroad-metrics {
  width: 100%;
  margin: 11.2px;
}

.chart-container {
  width: 100%;
}
@media (min-width: 775px) {
  .chart-container {
    max-width: 32vw;
  }
}
.chart-container .tooltip {
  width: 600px;
  max-width: 100%;
}

#container-areaSpline,
#container-line,
#container-active-patients {
  height: 265px;
  width: 95%;
}
@media (min-width: 775px) {
  #container-areaSpline,
#container-line,
#container-active-patients {
    max-width: 30vw;
  }
}

.highcharts-figure,
.highcharts-data-table table {
  margin: 1em auto;
}

.highcharts-data-table table {
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 30vw;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.highcharts-tooltip {
  font-family: sans-serif;
  text-align: right;
}

.colored-circle-tooltip {
  border-radius: 50%;
  width: 9px;
  height: 9px;
  margin-left: 0.5rem;
}

.tooltip-number {
  margin-left: 0.5rem;
  font-weight: 700;
}

.tooltip-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.charts .searchbox-container {
  overflow: auto;
  flex-flow: column;
}

.filterbox-container {
  height: 280px;
}

.filterbox {
  padding: 0px 16px 10px;
}
.filterbox ul {
  padding: 0;
  list-style: none;
}
.filterbox ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: right;
  height: 28px;
  font-size: 14px;
}
.filterbox ul li input {
  width: 20px;
}
.filterbox h4 {
  margin: 12px 0px 4px 0px;
}

.main-metrics .searchbox-container {
  width: 55%;
}

.areaSpline-filter .search-button__text {
  font-size: 15px;
}
@media (min-width: 900px) {
  .areaSpline-filter .search-button {
    min-width: 215px;
  }
}
@media (max-width: 775px) {
  .areaSpline-filter .search-button {
    min-width: 215px;
  }
}

.highcharts-figure {
  width: 100%;
}

.abroad-metrics .searchbox-container {
  width: 70%;
}

.line-filter .search-button__text {
  font-size: 15px;
  width: 100%;
}
.line-filter .search-button {
  justify-content: space-between;
}
@media (min-width: 900px) {
  .line-filter .search-button {
    min-width: 250px;
  }
}
@media (max-width: 775px) {
  .line-filter .search-button {
    min-width: 215px;
  }
}

.chart-legend {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.chart-legend .colored-circle-tooltip {
  height: 10px;
  width: 10px;
}

.active-patients-filter .search-button__text {
  font-size: 15px;
  width: 100%;
}
.active-patients-filter .search-button {
  justify-content: space-between;
}
@media (min-width: 900px) {
  .active-patients-filter .search-button {
    min-width: 250px;
  }
}
@media (max-width: 775px) {
  .active-patients-filter .search-button {
    min-width: 215px;
  }
}
