* {
  box-sizing: border-box;
  direction: rtl;
}

html {
  font-family: sans-serif;
}

.displayNone {
  display: none !important;
}

.displayBlock {
  display: block !important;
}

body {
  margin: 0;
}

.background-light {
  background: #edf1f7;
}

.background-dark {
  background: #49667a !important;
}

.text-color-light {
  color: #222b45;
}

.text-color-dark {
  color: #fff;
}

.light-circle-color {
  color: white;
  background: #222b45;
}

.dark-circle-color {
  background: white;
  color: #222b45;
}

.light-color-theme__box-color {
  background: white;
}

.dark-color-theme__box-color {
  background: #384f5f;
}

.theme-button__light-color {
  background: #39475d;
}

.theme-button__dark-color {
  background: #d8d8d8;
}

.tooltip {
  position: absolute;
  font-size: 0.8rem;
  border-radius: 5px;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.1607843137);
  display: inline-block;
  z-index: 100;
  padding: 0.6rem;
  max-width: 12rem;
  white-space: pre-line;
  line-height: 1.25rem;
  border: 1px solid #b3b3b5;
}

.topmost-h2 {
  padding-top: 0px;
  border-top: none;
  margin-top: 0;
}

h2 {
  padding-top: 15px;
  margin-right: 11.2px;
  width: 100%;
  font-size: 19px;
  border-top: 1px solid rgba(161, 170, 177, 0.4);
}

.button-light-color {
  background: #e6f1f4;
}

.button-dark-color {
  background: #2a3b47;
}

.flip-triangle {
  transform: scaleY(-1);
}

.percentage-bar-background-light {
  background: #eff5f9;
}

.percentage-bar-first-dose-light {
  background: #3b7d7e;
}

.percentage-bar-second-dose-light {
  background: #b6ca51;
}

.percentage-bar-third-dose-light {
  background: #66cbfd;
}

.vaccination-table-first-score {
  background: #ee9d8e;
}

.vaccination-table-second-score {
  background: #f2c580;
}

.vaccination-table-third-score {
  background: #fcfc70;
}

.vaccination-table-fourth-score {
  background: #b8de92;
}

.header {
  position: fixed;
  color: #39475d;
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  box-shadow: 0px 14px 12px 0px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.header .seperator {
  display: none;
}
.header .header__logo {
  color: #39475d;
  padding: 15px 32px 15px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.header .header__logo .h1-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.header .header__logo .burger-and-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.header .header__logo .burger-and-logo .burger-button {
  justify-content: space-evenly;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 30px;
  height: 25px;
}
.header .header__logo .burger-and-logo .burger-button .rect {
  background: #374f60;
  height: 2.4px;
  width: 22.5px;
  border-radius: 10px;
}
.header .header__logo .header__logo-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.header .header__logo .header__logo-title h1 {
  padding-left: 20px;
  font-size: 1.01rem;
  font-weight: 700;
  margin-bottom: 0;
}
.header .header__logo .header__logo-title span {
  padding: 0;
  font-size: 12px;
  font-weight: 700;
}
.header .header__logo .theme-button {
  position: absolute;
  left: 0;
  display: flex;
  margin-right: auto;
  border-radius: 0 30px 30px 0;
  padding: 0 6px;
  align-items: center;
  height: 44px;
  width: 53px;
}
.header .header__logo .logo__img {
  padding: 0 20px 0 40px;
}
.header .header__logo .logo__img img {
  height: 47px;
}
@media (min-width: 650px) {
  .header .header__logo .header__logo-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .header .header__logo .header__logo-title span {
    padding-right: 20px;
  }
  .header .header__logo .header__logo-title h1 {
    margin: 0 auto;
  }
  .header .header__logo .seperator {
    display: block;
  }
}
@media (min-width: 980px) {
  .header .header__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header .header__logo .header__logo-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}
.header .header-scrollbar {
  background: #374f60;
  height: 57px;
  /*placeholder*/
  width: 100%;
}

.settelments-vacccination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  margin: 11.2px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.settelments-vacccination .card-h3-container {
  width: 50%;
  margin-bottom: 8px;
  padding-right: 1rem;
  padding-top: 1rem;
}
.settelments-vacccination .tooltip {
  top: 2.5rem;
}

.search-button {
  position: relative;
  font-family: sans-serif;
  border: none;
  text-align: right;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.search-button:focus {
  outline: 2px solid black;
}

.arrow-icon-rotated {
  animation: rotation 0.5s forwards;
}

.arrow-icon-unrotated {
  animation: counter-rotation 0.5s forwards;
}

.button-container {
  width: 100%;
}

.search-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid rgba(161, 170, 177, 0.4);
  min-width: 200px;
  border-radius: 20px;
  align-items: center;
}

.search-button__text {
  padding: 0.35rem;
  width: 85%;
}

.population-vaccination {
  margin: 11.2px;
  width: 100%;
}

.dots-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-left: 1.5rem;
  width: 45%;
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-bottom: 2px;
}

.searchbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 205px;
  position: absolute;
  top: 5.3rem;
  right: 0.8rem;
  border: 1px solid rgba(161, 170, 177, 0.4);
  border-radius: 5px;
  z-index: 101;
}
.searchbox .searchbox-top {
  padding: 2px 2px 16px 2px;
}
.searchbox .input-light-theme input {
  margin: 0;
  padding: 0;
  width: 200px;
  text-indent: 1rem;
  height: 2rem;
  border: 2px solid rgba(161, 170, 177, 0.4);
  border-radius: 5px;
}
.searchbox .input-light-theme input::placeholder {
  color: #222b45;
}
.searchbox .input-dark-theme input {
  min-width: 200px;
  text-indent: 1rem;
  margin-top: 2px;
  height: 2rem;
  border: 2px solid rgba(161, 170, 177, 0.4);
  border-radius: 5px;
}
.searchbox .input-dark-theme input::placeholder {
  color: #fff;
}
.searchbox button {
  font-size: 1rem;
  max-width: 102px;
  height: 2rem;
  padding: 0;
  margin: 0;
  border: none;
  width: 50%;
}
.searchbox button:focus {
  outline: 1px solid black;
  border-left: 1px solid black;
}

.svg-arrow-color-light {
  color: #308bf6;
  padding-right: 5px;
}

.vaccination-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  height: 36px;
  flex-grow: 1;
  flex-basis: 30px;
  justify-content: flex-start;
}

.vaccination-header__category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: none;
  background: none;
  height: 36px;
  align-items: center;
  font-size: 14px;
  width: 16%;
  justify-content: center;
}
.vaccination-header__category-container:focus {
  border: 2px solid black;
  border-radius: 5px;
}

.table-container {
  direction: ltr;
  overflow: auto;
}
.table-container::-webkit-scrollbar {
  width: 10px;
}
.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.table-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.vaccination-table-rows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
}

.vaccination-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 49px;
  align-items: center;
  font-size: 14px;
  width: 100%;
}

.row-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 16%;
}

.sname, .sname-row {
  width: 20%;
}

.sname-row {
  font-weight: 700;
  text-align: center;
}

.percentage-bar {
  width: 25%;
  height: 10px;
}

.percentage-bar-filled {
  height: 10px;
}

.colored-sq {
  padding: 3px;
  text-align: center;
  font-weight: 700;
  width: 28px;
  height: 24px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes counter-rotation {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.circle {
  margin-top: 2px;
  padding: 2px;
  font-size: 11px;
  text-align: center;
  width: 16.67px;
  height: 16.67px;
  border-radius: 50%;
}

.card-h3-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.card-h3-container h3 {
  font-size: 0.9rem;
  margin: 0 0 8px 0;
  padding-left: 10px;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 196px 5px 10px;
  width: 100%;
}
@media (min-width: 650px) {
  .content-container {
    padding: 167px 5px 10px;
  }
}
@media (min-width: 980px) {
  .content-container {
    padding: 148px 5px 10px;
  }
}
.content-container .top-cards-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.content-container .top-cards-flex .top-card-container {
  flex: 1;
  min-width: 45%;
  margin: 0.3rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 3px 6px 14px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 760px) {
  .content-container .top-cards-flex .top-card-container {
    min-width: 10vw;
    margin: 0.7rem;
  }
}
.content-container .top-cards-flex .top-card-container .active-patients {
  font-size: 14.4px;
  margin-top: 10px;
}
.content-container .top-cards-flex .top-card-container .card-info {
  font-size: 12px;
}
.content-container .top-cards-flex .top-card-container .card-info h4 {
  display: inline-block;
  font-size: 12px;
}
.content-container .top-cards-flex .top-card-container .colored-circle {
  font-weight: 700;
  margin-left: 5px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
.content-container .top-cards-flex .top-card-container .bullet-list {
  font-size: 12.8px;
}
.content-container .top-cards-flex .top-card-container .bullet-list .list-line:nth-of-type(1) .colored-circle {
  background: #e21d48;
}
.content-container .top-cards-flex .top-card-container .bullet-list .list-line:nth-of-type(2) .colored-circle {
  background: #e21d48;
}
.content-container .top-cards-flex .top-card-container .bullet-list .list-line:nth-of-type(3) {
  padding-bottom: 10px;
}
.content-container .top-cards-flex .top-card-container .bullet-list .list-line:nth-of-type(3) .colored-circle {
  background: #e6b957;
}
.content-container .top-cards-flex .top-card-container .second-card-info {
  font-size: 12.8px;
}
.content-container .top-cards-flex .top-card-container span {
  padding-left: 8px;
  font-size: 12.8px;
}
.content-container .top-cards-flex h4 {
  font-size: 22.4px;
  margin: 0 0 5px 0;
}
.content-container .top-cards-flex .vaccinated h4 {
  margin-top: 5px;
  display: inline-block;
  font-size: 17.6px;
  margin-bottom: 3px;
}
.content-container .top-cards-flex .tests-statistics {
  font-size: 12px;
}
.content-container .top-cards-flex .tests-statistics h4 {
  padding-left: 8px;
}
.content-container .top-cards-flex .tests-statistics div {
  padding-bottom: 8px;
}
.content-container .top-cards-flex .isolated div:nth-child(3) {
  padding-top: 2rem;
}
.content-container .top-cards-flex-container {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  padding-bottom: 0.5rem;
  margin: 11.2px;
}
.content-container .top-cards-flex-container h3 {
  margin-right: 19.2px;
}
.content-container .top-cards-flex-container .top-cards-flex {
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.content-container .top-cards-flex-container .top-card-container {
  box-shadow: 0 3px 15px -2px rgba(0, 2, 2, 0.2);
}
.content-container .top-cards-flex-container .top-card-container h3 {
  margin-right: 0;
}
.content-container .top-cards-flex-container .top-card-container h4 {
  font-size: 22.4px;
  margin-bottom: 1rem;
}
.content-container .top-cards-flex-container .tested div:nth-child(3) {
  padding-bottom: 10px;
}
