* {
  box-sizing: border-box;
  direction: rtl;
}

html {
    font-family: sans-serif;
}

.displayNone {
    display: none !important;
}

.displayBlock {
    display: block !important;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
}

.light-color-theme {
    color:#39475d;
    background: #f7f9fc;
}

.light-color-theme__box-color {
    background: #fff;
}

.dark-color-theme {
    color: white;
    background: #476276;
}

.dark-color-theme__box-color {
    background: #384f5f;
}

.theme-button__light-color{
    background: #39475d;
}

.theme-button__dark-color {
    background: #d8d8d8;
}

.theme-button{
    display: inline-flex;
    border-radius: 0 30px 30px 0;
    padding: 0 6px;
    align-items: center;
    height: 44px;
    width: 53px;
}

.header {
    height: 8rem; /*placeholder*/
    justify-content: space-between;
    position: relative;
    width: 100%;
    display: flex;
    box-shadow: 0 4px 20px 0px  rgba(128,128,128,0.4);
    margin: 0;
    padding: 9;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    padding: .25rem 2.25rem 2.25rem;
}

.content-container h2{
    font-size: 19px;
}