@use 'variables' as *;

* {
    box-sizing: border-box;
    direction: rtl;
  }
  
  html {
      font-family: sans-serif;
  }
  
  .displayNone {
      display: none !important;
  }
  
  .displayBlock {
      display: block !important;
  }
  
  body {
      margin: 0;
  }
  
  .background-light {
      background: $background-light;
  }

  .background-dark {
      background: $background-dark !important;
  }

  .text-color-light {
    color: $text-color-light-theme;
  }

  .text-color-dark {
    color: $text-color-dark-theme;
  }

  .light-circle-color {
      color: white;
      background: $text-color-light-theme;
  }
  
  .dark-circle-color {
      background: white;
      color: $text-color-light-theme;
  }
  
  .light-color-theme__box-color {
      background: $light-color-theme__box-color;
  }
    
  .dark-color-theme__box-color {
      background: $dark-color-theme__box-color;
  }
  
  .theme-button__light-color{
      background:$theme-button__light-color;
  }
  
  .theme-button__dark-color {
      background: $theme-button__dark-color;
  }
  
  .tooltip { 
    position: absolute;
    font-size: 0.8rem;
    border-radius: 5px;
    box-shadow: 0 10px 20px 10px rgba(0,0,0,.1607843137254902);
    display: inline-block;
    z-index: 100;
    padding: 0.6rem;
    max-width: 12rem;
    white-space: pre-line;
    line-height: 1.25rem;
    border: 1px solid #b3b3b5;
    }

    .topmost-h2{
        padding-top: 0px;
        border-top: none;
        margin-top: 0;
    }

    h2{
        padding-top: 15px;
        margin-right: 11.2px;
        width: 100%;
        font-size: 19px;
        border-top: 1px solid rgba(161,170,177,.4);
    }

    .button-light-color {
        background: $button-light-color;
    }

    .button-dark-color {
        background: $button-dark-color;
    }

    .flip-triangle{
        transform: scaleY(-1);
    }

    .percentage-bar-background-light {
        background: $percentage-bar-background-light;
    }

    .percentage-bar-first-dose-light {
        background: $percentage-bar-first-dose-light;
    }

    .percentage-bar-second-dose-light {
        background: $percentage-bar-second-dose-light;
    }

    .percentage-bar-third-dose-light {
        background: $percentage-bar-third-dose-light;
    }

    .vaccination-table-first-score{
       background: $vaccination-table-first-score;
    }
    .vaccination-table-second-score{
        background: $vaccination-table-second-score;
    }
    .vaccination-table-third-score {
        background: $vaccination-table-third-score;
    }
    .vaccination-table-fourth-score{
        background: $vaccination-table-fourth-score;
    }

    .border-bottom-light {
        border-bottom: 1px solid $vaccination-table-row-seperator-light;
    }
    
    .border-bottom-dark {
        border-bottom: 1px solid $text-color-dark-theme;
    }
    
    .search-result-hover-light {
        li:hover {
            background: $button-light-color;
        }
    }

    .search-result-hover-dark {
        li:hover {
            background: $button-dark-color;
        }
    }