$text-color-light-theme: #222b45;
$text-color-dark-theme: #fff;
$button-light-color: #e6f1f4;
$button-dark-color: #2a3b47;

$background-light: #edf1f7;
$background-dark: #49667a;
$light-color-theme__box-color: white;
$dark-color-theme__box-color: #384f5f;
$theme-button__light-color: #39475d;
$theme-button__dark-color: #d8d8d8;

$percentage-bar-background-light: #eff5f9;
$percentage-bar-first-dose-light: #3b7d7e;
$percentage-bar-second-dose-light: #b6ca51;
$percentage-bar-third-dose-light: #66cbfd;

$percentage-bar-background-dark: #293b48;
$percentage-bar-first-dose-dark: #9ffa82;
$percentage-bar-second-dose-dark: #fd8264;
$percentage-bar-third-dose-dark: #2cd2db;         

$vaccination-table-first-score: #ee9d8e;
$vaccination-table-second-score: #f2c580;
$vaccination-table-third-score: #fcfc70;
$vaccination-table-fourth-score: #b8de92;

$vaccination-table-row-seperator-light: #daeaed;

$ramzor-highlighted-light: #daeaed;
$ramzor-highlighted-dark: #354047;

$ramzor-italic-text-light: #757575;
$ramzor-italic-text-dark: #cacaca;

$ramzor-table-highlighed-light : #f7fafc;
$ramzor-table-highlighed-dark: #304453;

