@use './styles';

.content-container {
    @include styles.flex(row, wrap);
    padding: 5px 10px;
    width: 100%;

    h2{
        margin-top: 0;
        margin-right: 11.2px;
        width: 100%;
        font-size: 19px;
    }

    .top-cards-flex {
        @include styles.flex(row, wrap);;
        width: 100%;

        .top-card-container {
            flex: 1;   
            min-width: 45%;
            margin: 0.3rem;
            padding: 1rem;
            border-radius: 10px;
            box-shadow: 0 0 20px 5px rgba(0,0,0,0.1);

            @media (min-width: 760px) {
                min-width: 10vw;
                margin: 0.7rem;
            }
 
            .card-h3-container{
                @include styles.flex(row, nowrap);
                h3{
                    font-size: 14.4px;  
                    margin: 0 0 8px 0;
                    padding-left: 10px;
                }

                .circle{
                    margin-top: 2px;
                    padding: 2px;
                    font-size: 11px;
                    text-align: center;
                    width: 16.67px;
                    height: 16.67px;
                }
            }

            .active-patients {
                font-size: 14.4px;
                margin-top: 10px;
            }

            .card-info {
                font-size: 12px;
    
                h4 {
                    display: inline-block;
                    font-size: 12px;
                } 
            }

            .circle{
                font-weight: 700;
                margin-left: 5px;
                display: inline-block;
                width: 9px;
                height: 9px;
                border-radius: 50%;
            }

            .bullet-list{
                font-size: 12.8px;
                .list-line:nth-of-type(1) {
                    .circle{
                        background: rgb(226, 29, 72);
                    }
                }
    
                .list-line:nth-of-type(2) {
                    .circle{
                        background: rgb(226, 29, 72);
                    }
                }

                .list-line:nth-of-type(3) {
                    padding-bottom: 10px;
                    .circle{
                        background: rgb(230 185 87);
                    }
                }
            }


            .second-card-info{
                font-size: 12.8px;
            }

            span {
                padding-left: 8px;
                font-size: 12.8px;
            }
        }

        h4 {
            font-size: 22.4px;
            margin: 0 0 5px 0;
        }

        .vaccinated {
            h4 {
                margin-top: 5px;
                display: inline-block;
                font-size: 17.6px;
                margin-bottom: 3px;
            }
        }
        .tests-statistics {
            font-size: 12px;
            h4 {
                padding-left: 8px;
            }
            div {
                padding-bottom: 8px;
            }
        }
        .isolated {
            div:nth-child(3) {
                padding-top: 2rem;
            }
        }
    }

    .top-cards-flex-container {
        box-shadow: 0 0 8px 1px rgba(0,0,0,0.1);
        border-radius: 10px;
        width: 100%;
        padding-bottom: 0.5rem;
        margin: 11.2px;

        h3 {
            font-size: 16px;
            margin-right: 19.2px;
            margin-bottom: 0;
        }
        .top-cards-flex{
            padding: 0.5rem 0.5rem 0 0.5rem;
        }

        .top-card-container {
            box-shadow: 0 0 8px 1px rgba(0,0,0,0.1);
            h4 {
                font-size: 22.4px;
                margin-bottom: 1rem;
            }
        }

        .tested {
            div:nth-child(3){
                padding-bottom: 10px;
            }
        }
    }
}