@use '../base' as *;

.charts{
    width: 100%;
    margin: 11.2px;
}

.chart-container {
    @media(min-width: 775px){
        max-width: 32vw;
    }
    width: 100%;

    .tooltip {
        width: 600px;
        max-width: 100%;
    }
}

#container-areaSpline, 
#container-line,
#container-active-patients,
#container-deceased,
#container-age-sex-metrics {
    height: 265px;
    @media(min-width: 775px){
        max-width: 30vw;
    }
    width: 95%;
}

.highcharts-figure,
.highcharts-data-table table {
    margin: 1em auto;
}

.highcharts-data-table table {
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 30vw;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.highcharts-tooltip {
    font-family: sans-serif;
    text-align: right;
}

.colored-circle-tooltip {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left : 0.5rem;
}

.tooltip-number {
    margin-left : 0.5rem;
    font-weight: 700;
}

.tooltip-text {
    padding-right: 2px;
}

.tooltip-flex {
    @include flex(row, nowrap);
    align-items: center;
}

.charts .searchbox-container {
    overflow: auto;
    flex-flow: column;
    width: 55%;
}

.filterbox-container {
    
    height: 250px;
}

.filterbox {
    padding: 0px 16px 10px;
    ul{
        padding: 0;
        list-style: none;

        li {
            @include flex(row, nowrap);
            justify-content: right;
            height: 28px;
            font-size: 14px;
            input {
                width: 20px;   
            }
        }
    }

    h4{
        margin: 12px 0px 4px 0px;
    }
}

.main-metrics {
    .searchbox-container {
        width: 55%;
    }
}

.areaSpline-filter{
    .search-button__text{
        font-size: 15px;
    }

    .search-button {
        @media (min-width: 900px){
            min-width: 215px;
        }

        @media (max-width: 775px) {
            min-width: 215px;
        }
    }
}

.highcharts-figure {
    width: 100%;
}

.abroad-metrics{
    .searchbox-container {
        width: 60%;
    }
}

.line-filter{
    .search-button__text{
        font-size: 15px;
        width: 100%;
    }

    .search-button {
        justify-content: space-between;
        @media (min-width: 900px){
            min-width: 250px;
        }

        @media (max-width: 775px) {
            min-width: 215px;
        }
    }
}

.chart-legend {
    @include flex(row, nowrap);
    align-items: center;
}

.active-patients-filter{
    .search-button__text{
        font-size: 15px;
        width: 100%;
    }

    .search-button {
        justify-content: space-between;
        @media (min-width: 900px){
            min-width: 250px;
        }

        @media (max-width: 775px) {
            min-width: 215px;
        }
    }
}

.deceased-chart {
    .highcharts-legend-item {
        rect {
            display: none;
        }
    }
}

.datalabel-style {
    font-family: sans-serif;
}