@use '../base' as *;

.search-button{
    position: relative;
    font-family: sans-serif;
    border: none;
    text-align: right;
    margin-right: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.search-button:focus {
    outline: 2px solid black;
}

.arrow-icon-rotated {
    animation: rotation 0.5s forwards;
}

.arrow-icon-unrotated {
    animation: counter-rotation 0.5s forwards;
}

.button-container {
    width: 100%;
    position: relative;
}

.search-button {
    @include flex(row, wrap);
    border: 1px solid rgba(161,170,177,.4);
    min-width: 200px;
    border-radius: 20px;
    align-items: center;
}


.search-button__text {
    padding: 0.35rem;
    width: 85%;
}


.dots-flex {
    @include flex(column, wrap);
    align-items: flex-end;
    padding-left: 1.5rem;
    width: 45%;
}

.dot{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-bottom: 2px;;
}

.searchbox-container {
    top: 5.2rem;
    background: white;
    position: absolute;
    @include flex(column, wrap);
    border-radius: 5px;
    border: 1px solid rgba(161,170,177,.4);
    right: 1rem;
    z-index: 200;
}

.searchbox{
    @include flex(column, wrap);
    border-radius: 5px;
    min-width: 200px;
    background: white;
    border: 1px solid rgba(161,170,177,.4);
    
    .searchbox-top {
        border-radius: 5px;
        padding: 1px;
    }

    input {
        width: 100%;
        border: 1px solid rgba(161,170,177,.4);
    }

    .input-light-theme{
        input{
            background: $light-color-theme__box-color;
            margin: 0;
            padding: 0;
            text-indent: 1rem;
            height: 2rem;
            border: 2px solid rgba(161, 170, 177, 0.4);
            border-radius: 5px;
            color: $text-color-light-theme;
        }
    }

    .input-dark-theme{
        input{
            background: $dark-color-theme__box-color;
            text-indent: 1rem;
            margin-top: 2px;
            height: 2rem;
            border: 2px solid rgba(161, 170, 177, 0.4);
            border-radius: 5px;
            color: white;
        }

        input::placeholder{
            color: $text-color-dark-theme;
            }
    }

    .search-results {
        list-style: none;
        padding: 0;
        border: none;
        z-index: 200;
        li{
            font-size: 16px;
            padding: 8px;
            cursor: pointer;
        }
    }
}

.search-buttons {
    @include flex(row, wrap);
    button {
        font-size: 1rem;
        height: 2rem;
        padding: 0;
        margin: 0;
        border: none;
        width: 50%;
        &:focus{
            outline: 1px solid black;
            border-left: 1px solid black;
        }
    }
}

.svg-arrow-color-light{
    color: #308bf6;
    padding-right: 5px;
}

.vaccination-header{
    @include flex(row, wrap);
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
    min-height: 36px;
    flex-grow: 1;
    flex-basis: 30px;

    button {
        text-align: center;
    }
}
.vaccination-header__category-container {
    @include flex(row, nowrap);
    border: none;
    background: none;
    align-items: center;
    justify-content: center;
    font-size: 14px;    
    width: 16%;

    &:focus {
        border: 2px solid black;
        border-radius: 5px;
    }    
}

.table-container {
    direction: ltr;
    overflow: auto;
    width: 100%;
        
    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.vaccination-table-rows {
    @include flex(row, wrap);
    width: 100%;
    height: 200px;
}   

.vaccination-row{
    @include flex(row, wrap);
    height: 49px;
    align-items: center;
    font-size: 14px;
    width: 100%;
}

.row-data {
    @include flex(row, wrap);
    align-items: center;
    justify-content: space-evenly;
    width: 16%;
}

.sname {
    padding-right: 1rem;
    justify-content: right;
    width: 20%;
}

.sname-row {
    @extend .sname;
    padding-right: 2px;
    font-weight: 700;
}

.score{
    justify-content: center;
}

.percentage-bar {
    width: 25%;
    height: 10px;
}

.percentage-bar-filled { 
    height: 10px;
}

.colored-sq{
    padding: 3px;
    text-align: center;
    font-weight: 700;
    width: 28px;
    height: 24px;
    color: $text-color-light-theme;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
}

@keyframes counter-rotation {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
}