@use '../base' as *;

.ramzor {
    @extend .section-container;
}

.ramzor-header-container {
    @include flex(row, wrap);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 1rem 24px;
}

.ramzor-header-search-section{
    @include flex(row, nowrap);
}

.ramzor-header-container__date-container{
    @include flex(row, nowrap);
    padding: 5px;
    align-items: center;
    border-radius: 3px;
    @media(min-width: 650px){
        min-width: 200px;
    }

    .circle {
        margin-left: 3px;
    }
}

.ramzor-table-container {
    @media (min-width: 1200px){
        flex: 0 0 66.66666667%;
        max-width: 66.66666667%;
    }
    
    @extend .section-container__table-container;
    .card-h3-container{
        padding: 0px;
        margin: 0px;

        h3{
            margin: 0px;
        }
    }
}

.search-container {
    position: relative;
    @include flex(row, wrap);
    @media(min-width:650px){
        button{
            font-size: 12px;
            max-width: 170px;
            min-width: 150px;
            margin-right: 6px;
            @media(min-width: 760px){
                min-width: 170px;
            }
        }
    }
    input {
        border: none;
    }
}

.icon-container {
    @include flex(row, wrap);
    margin-right: 6px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
}

.ramzor-legend {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
}

.ramzor-score-legend {
    @media(min-width: 650px){
        @include flex(row, nowrap);
    }
    @include flex(column, wrap);
    padding-top: 3px;
}

.score-legend-container {
    @include flex(row, wrap);
    margin-left: 15px;
}

.legend-text-container {
    @include flex(column, wrap);
    padding-right: 4px;
    font-size: 14px;
}

.legend-italic {
    font-style: italic;

}

.square {
    @media(min-width: 650px){
        height: 32px;
        width: 32px;
    }
    height: 26px;
    width: 26px;
    padding: 5px;
    margin: 5px;
}

.ramzor-header{
    @include flex(row, wrap);
    width: 100%;
    font-size: 1rem;
    min-height: 36px;
    flex-grow: 1;
    flex-basis: 30px;
    padding-right: 10px;

    button {
        text-align: center;
    }
}

.ramzor-table-rows {
    .vaccination-row {
        height: 31px;
    }

    span {
        direction: ltr;
    }

    .score {
        text-decoration: underline;
    }
}

.ramzor-search-results {
    @extend .search-results;
    position: absolute;
    border: 1px solid rgba(161,170,177,.4);
    width: 132px;
    font-weight: bold;
    top: 2rem;
    right: 1.5rem;
}